<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>F5C1314AF2C629F9AFB2CD95BF632918</string>
	<key>Layout Version</key>
	<integer>0</integer>
</dict>
</plist>
